<!-- begin #header -->
<div id="header" class="header navbar navbar-default navbar-fixed-top">
    <!-- begin container-fluid -->
    <div class="container-fluid">
        <!-- begin mobile sidebar expand / collapse button -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-click="sidebar-toggled" [ngClass]="{'pull-left':page_with_two_sidebar}">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <button *ngIf="this.page_with_two_sidebar" type="button" class="navbar-toggle pull-right" data-click="right-sidebar-toggled">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a routerLink="/dashboard/v1" class="navbar-brand"><span><img src="assets/img/logo-beGIS.png" alt="" width="32" height="27"></span> <b>beGIS</b></a>
            <button *ngIf="this.page_with_mega_menu" type="button" class="navbar-toggle p-0 m-r-5" data-toggle="collapse" data-target="#top-navbar">
                <span class="fa-stack fa-lg text-inverse">
                    <i class="fa fa-square-o fa-stack-2x m-t-2"></i>
                    <i class="fa fa-cog fa-stack-1x"></i>
                </span>
            </button>
        </div>
        <!-- end mobile sidebar expand / collapse button -->
        
        <mega-menu *ngIf="page_with_mega_menu"></mega-menu>
        
        <!-- begin header navigation right -->
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a href="javascript:;" data-toggle="dropdown" class="dropdown-toggle f-s-14">
                    <i class="fa fa-bell-o"></i>
                    <span class="label">{{user.notification.length}}</span>
                </a>
                <ul class="dropdown-menu media-list pull-right animated fadeInDown">
                    <li class="dropdown-header">Notifications ({{user.notification.length}})</li>

                    <li *ngFor="let notification of user.notification" class="media">
                        <a href="javascript:;">
                            <div class="media-left"><i class="fa fa-plus media-object bg-green"></i></div>
                            <div class="media-body">
                                <h6 class="media-heading"> {{notification.type}}</h6>
                                <div class="text-muted f-s-11">Vous avez été affecté au projet {{notification.projet}}</div>
                            </div>
                        </a>
                    </li>
                    <li class="dropdown-footer text-center">
                        <a (click)="clearNotification()" href="javascript:;">Vider</a>
                    </li>
                </ul>
            </li>
            <li class="dropdown navbar-user">
                <a  href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                    <img src="/assets/img/user-13.jpg" alt="" /> 
                    <span class="hidden-xs">{{user.nom}}</span>
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu animated fadeInLeft">
                    <li class="arrow"></li>
                    <li>
                        <a (click)="download()" class="dropdown-item">
                        <span  class="badge badge-danger pull-right">v0.0.1</span>Télecharger</a></li>
                    <li><a  (click)="logout()">Déconnexion</a></li>
                </ul>
            </li>
        </ul>
        <!-- end header navigation right -->
    </div>
    <!-- end container-fluid -->
</div>
<!-- end #header -->