<div class="row">
        <div class="col-md-6">
                <div class="panel panel-success">
                   <div class="panel-body ">

                                <div id="map" style="height: 300px;"></div>
                            </div>
                        </div>
                    </div>
                        <div class="col-md-6">
                        <div class="panel panel-success">
                                <div class="panel-body ">
                            <form class="form-horizontal">
                                <div class="col-md-6">
                            <div class="form-group">
                                <!-- <label for="type">Questionnaire: </label>                        -->
                                <select id="type" name="type" [(ngModel)]="_type" required class="form-control" (ngModelChange)="OnTypeChange($event)">
                                        <option value="" disabled="true" [selected]="!_type">Questionnaire </option>
                                        <option *ngFor="let data of collecte?.collecte" [ngValue]="data">{{data.formname}}</option>
                                    </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">  

                                <div class="col-md-8">
                                        <!-- <label for="parcelle">Instance: </label> -->
                                <select id="parcelle" name="parcelle" [(ngModel)]="_parcelle" required class="form-control" (ngModelChange)="OnParcelleChange($event)">
                                        <option value="" disabled="true" [selected]="!_parcelle">Instance</option>                                        
                                        <option *ngFor="let data of selected?.data" [ngValue]="data">{{data.numero}}</option>
                                </select>
                                </div>
                            </div>
                        </div>
                            </form>  
                                <table id="data-table" class="table table-striped table-bordered text-center">
                                     
                                        <tbody>
                                            <tr>
                                                <th>ID Exploitation</th>
                                                <td>{{collecte.id_exploitation}}</td>
                                            </tr>
                                            <tr>
                                                <th>superficie</th>
                                                <td>{{selectedParcelle?.superficie}}</td>
                                            </tr>
                                            <tr>
                                                <th>numero</th>
                                                <td>{{selectedParcelle?.numero}}</td>
                                            </tr>
                                            <!-- <tr>
                                                <td>Type</td>
                                                <td>{{selectedParcelle?.gjson?.type}}</td>
                                            </tr> -->
                                            <!-- <tr>
                                                <td>Capture</td>
                                                <td><button [disabled]="!selectedParcelle" href="#modal-dialog" class="btn btn-sm btn-success" data-toggle="modal">Ouvrir</button></td>
                                            </tr> -->
                                            <tr>
                                                <th>Date Creation</th>
                                                <td>{{selectedParcelle?.date_creation}}</td>
                                            </tr>
                                            <tr>
                                                <th>Region</th>
                                                <td>{{collecte?.agent.region?.name}}</td>
                                            </tr>
                                            <tr>
                                                <th>Province</th>
                                             <td>{{collecte?.agent.province?.name}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                           
                   </div>
                   </div>
                </div>
                </div>
                <div class="modal fade" id="modal-dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                <h4 class="modal-title">Capture</h4>
                            </div>
                            <div class="modal-body">
                                <img src="{{selectedParcelle?.capture}}" alt="Capture" />
                                    
                            </div>
                            <div class="modal-footer">
                                <a href="javascript:;" class="btn btn-sm btn-white" data-dismiss="modal">Fermer</a>
                            </div>
                        </div>
                    </div>
                </div>  
                   <iframe [hidden]="hidden" #parcelle frameBorder="0" class="iframe-map" scrolling="no" width="100%" height="800" id="data" name="parcelle" (load)="onIframeLoad(this)"></iframe>
        <!-- <button 
        class="btn btn-primary">Détails
        </button>
        <button
        class="btn btn-warning">Parcelles
        </button>        -->
    
    <!-- {{collecte | json}} -->