<!-- begin page-header -->
<h1 class="page-header">Tableau de bord </h1>
<ol class="breadcrumb pull-right">
</ol>
<div>

    </div>
<!-- end page-header -->

<!-- begin row -->
<div class="panel panel-success">
    <div class="panel-heading">
        <div class="btn-group pull-right">
            <button type="button" class="btn btn-success btn-xs">Enquêtes</button>
            <button type="button" class="btn btn-success btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li [hidden]="p.archived" (click)="getData(p)" *ngFor="let p of projets"><a>{{p?.name}}</a></li>
            </ul>
        </div>
        <h4 class="panel-title">{{title || 'Chargement...'}}</h4>

    </div>
    <div class="panel-body">
<div class="row">
    <!-- begin col-3 -->
    <div class="col-md-3 col-sm-6">
        <div class="widget widget-stats bg-green">
            <div class="stats-icon"><i class="fa fa-refresh"></i></div>
            <div class="stats-info">
                <h4>Synchonisé</h4>
                <p>{{data?.total || 0}}</p>
            </div>
        </div>
    </div>
    <!-- end col-3 -->
    <!-- begin col-3 -->
    <div class="col-md-3 col-sm-6">
        <div class="widget widget-stats bg-blue">
            <div class="stats-icon"><i class="fa fa-hourglass-half"></i></div>
            <div class="stats-info">
                <h4>En Attente </h4>
                <p>{{data?.wait || 0}}</p>
            </div>
        </div>
    </div>
    <!-- end col-3 -->
    <!-- begin col-3 -->
    <div class="col-md-3 col-sm-6">
        <div class="widget widget-stats bg-purple">
            <div class="stats-icon"><i class="fa fa-check "></i></div>
            <div class="stats-info">
                <h4>Validé</h4>
                <p>{{data?.valid || 0}}</p>
            </div>
        </div>
    </div>
    <!-- end col-3 -->
    <!-- begin col-3 -->
    <div class="col-md-3 col-sm-6">
        <div class="widget widget-stats bg-red">
            <ng-container *ngIf="user.role != 'controleur'">
                <div class="stats-icon"><i class="fa fa-edit"></i></div>
                <div  class="stats-info">
                    <h4>En Traitement</h4>
                    <p>{{data?.entraitment || 0}}</p>
                </div>
            </ng-container>
            <ng-container *ngIf="user.role == 'controleur'">
                <div class="stats-icon"><i class="fa fa-ban"></i></div>
                <div  class="stats-info">
                    <h4>Refusé</h4>
                    <p>{{data?.refus || 0}}</p>
                </div>
            </ng-container>

        </div>
    </div>
    <!-- end col-3 -->
</div>
    </div>
</div>

<!--<div class="col-md-8">-->
        <!--<div class="panel panel-success" data-sortable-id="flot-chart-2">-->
            <!--<div class="panel-heading">-->
                <!--<h4 class="panel-title">Statistiques des 7 derniers jours</h4>-->
            <!--</div>-->
            <!--<div class="panel-body">-->
                    <!--<div id="dashboard-interactive-chart" class="height-sm"></div>-->
                <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<div class="col-md-8">
    <div class="panel panel-success">
        <div class="panel-heading">
            <div class="btn-group pull-right">
                <button (click)="switch()" type="button" class="btn btn-success btn-xs">{{lineChartType}}</button>
            </div>
            <h4 class="panel-title">Statistiques des 7 derniers jours</h4>
        </div>
        <div class="panel-body">
            <canvas *ngIf="!loading" baseChart
                    [datasets]="lineChartData"
                    [labels]="lineChartLabels"
                    [colors]="lineChartColors"
                    [legend]="lineChartLegend"
                    [chartType]="lineChartType"
                    [options]="options"
                    (chartHover)="chartHovered($event)"></canvas>
        </div>
    </div>
</div>

    <div class="col-md-4">
            <div class="panel panel-success">
            <div class="panel-heading">
                <h4 class="panel-title">Collectes par Status</h4>
            </div>
            <div class="panel-body">
                <canvas *ngIf="!loading" baseChart
                        [data]="doughnutChartData"
                        [labels]="doughnutChartLabels"
                        [chartType]="doughnutChartType"
                        [colors]="doughnutChartColors"
                        (chartHover)="chartHovered($event)"
                        (chartClick)="chartClicked($event)"></canvas>
        </div>
    </div>
    </div>


