<p-messages [(value)]="msgs"></p-messages>
<p-confirmDialog header="Confirmation" icon="fa fa-question-circle" width="700"></p-confirmDialog>
     
<div class="panel panel-success">
    <div class="panel-heading">
        <div class="bt-group pull-right">
                <a type="button" class="btn btn-primary btn-xs" (click)="createUser()">Nouveau compte</a>
        </div>
        <h4 class="panel-title">List des utilisateurs</h4>
    </div>
    <div class="panel-body">
            <!-- <input
            type='text'
            style='padding:8px;margin:15px auto;width:30%;'
            placeholder='Rechercher un utilisateur'
            (keyup)='updateFilter($event)'
          />
            <ngx-datatable
            #table
            class="bootstrap"
            [headerHeight]="50"
            [rowHeight]="'auto'"
            [columnMode]="'force'"
            [rows]="rows"
            [columns]="columns">
            </ngx-datatable>      -->
            <ng2-smart-table *ngIf="!loading"  [settings]="settings" [source]="users" (custom)="testfunc($event)"></ng2-smart-table>
        <!-- <table id="data-table" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Login</th>
                    <th>Email</th>
                    <th>Role</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of users">
                    <td>{{ user.nom }}</td>
                    <td>{{ user.prenom }}</td>
                    <td>{{ user.login }}</td>
                    <td>{{ user.email}}</td>
                    <td>{{ user.role}}</td>
                    <td>
                        <button type="button" (click)="update(user)" class="btn btn-primary btn-xs"><i class="fa fa-pencil-square-o"></i>  Modifier</button>
                        <button type="button" (click)="deleteUser(user._id)" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i>  Supprimer</button>
                    </td>
                </tr>
            </tbody>
        </table> -->
    </div>
</div>