:host /deep/ * {
  font-size:12px    
}
:host /deep/ table {
  color: #606c71;
  
}
:host /deep/ table tr td, :host /deep/ table tr th {
  border: 1px solid #e9ebec;
}

.smart-table-container{ overflow-x: scroll; }

.column-size {
  width: 80px
}

input[type=submit]
{
  visibility:hidden
}



.my-label {
  position: absolute;
  width:1000px;
  font-size:20px;
}


.labelClass{
  white-space:nowrap;
  text-shadow: 0 0 0.1em black, 0 0 0.1em black,
  0 0 0.1em black,0 0 0.1em black,0 0 0.1em;
  color: yellow
}


/* 
  tr.border_bottom td {
  border-top:1px solid black;
  border-bottom:1px solid black;
  border-left:1px solid black;
  border-right:1px solid black;
    
  } */

  /* @import url('/assets/plugins/DataTables/media/css/dataTables.bootstrap.min.css');
  @import url('/assets/plugins/DataTables/extensions/Responsive/css/responsive.bootstrap.min.css'); */