<div class="col-md-12">
    <div class="panel panel-success">
        <div class="panel-body">
            <form>
                <div class="row">
                    
                <div class="form-group col-md-3">
                    <label >Projet: </label>
                <select [(ngModel)]="projet" name="projet" [compareWith]="compareById" class="form-control">
                        <option *ngFor="let p of projets" [ngValue]="p">{{p.name}}</option>
                </select>
                </div>
                <div class="form-group col-md-3">
                    <label >Status: </label>
                    <select [(ngModel)]="status" name="status" class="form-control">
                            <option *ngFor="let s of _status" [ngValue]="s.value">{{s.name}}</option>
                    </select>
                </div>
                      
                <div class="form-group col-md-3">  
                        <label >Region: </label>
                    <select [disabled]="user.role == 'superviseurP' || user.role == 'superviseurR'" [(ngModel)]="_region" name="region" class="form-control">
                            <option  *ngIf="user.role == 'superviseurP' || user.role == 'superviseurR'" [ngValue]="user?.perimetre?.region?.id_region" disabled selected>{{user?.perimetre?.region?.name}}</option>
                            <option *ngFor="let r of projet?.perimetre.region" [ngValue]="r.id_region">{{r.name}}</option>
                    </select>
                </div>

                <div class="form-group col-md-3">  
                    <label >Province: </label>
                    <select [disabled]="!projet || this.user.role == 'superviseurP'" [(ngModel)]="_province" name="province" class="form-control">
                            <option *ngIf="user.role == 'superviseurP'" [ngValue]="user?.perimetre?.province?.id_province" disabled selected>{{user?.perimetre?.province?.name}}</option>
                            <option [hidden]="p.id_region != _region" *ngFor="let p of projet?.perimetre.province" [ngValue]="p.id_province">{{p.name}}</option>
                    </select>
                </div>

                <div class="form-group col-md-3">  
                        <label >Filtre: </label>
                        <select  [(ngModel)]="_filtre" name="_filtre" class="form-control">
                               <option [hidden]="e.field.type == 'number'" *ngFor="let e of projet?.extrapolation" [ngValue]="e">{{e.label}}</option>                        
                        </select>
                </div>
                <div class="form-group col-md-3">  
                        <label >Valeur: </label>
                        <select  [(ngModel)]="_value" name="_value" class="form-control">
                                <ng-container *ngIf="_filtre?.field.type == 'select'">
                               <option *ngFor="let v of _filtre?.field.values.values" [ngValue]="v.value">{{v.label}}</option>
                                </ng-container>
                                <ng-container *ngIf="_filtre?.field.type == 'checkbox'">
                                    <option value="true">True</option>
                                    <option value="false">False</option>
                                </ng-container>
                                <ng-container *ngIf="_filtre?.field.type == 'radio' || _filtre?.field.type == 'selectboxes'">
                                        <option *ngFor="let v of _filtre?.field.values" [ngValue]="v.value">{{v.label}}</option>
                                </ng-container>                        
                        </select>
                </div>
            </div>    
            
        </form>

        <div class="row">
        <div class="pull-right col-md-12">
            <button [disabled]="projet == null || status == null" class="btn btn-primary" (click)="search(projet,status,_region,_province,_value)"><i class="fa fa-search fa-lg" aria-hidden="true"></i> Recherche</button>
            <button class="btn btn-danger" (click)="reset()"><i class="fa fa-undo fa-lg" aria-hidden="true"></i> Reinitialiser</button>
        </div>
        </div>
    </div>
</div>
<div class="col-md-12">
    <div class="panel panel-success">
        <div class="panel-body">
                <!-- <ng2-smart-table *ngIf="!loading" [settings]="settings" [source]="collectes"></ng2-smart-table> -->
                <!-- <label> projet</label>
                <select [(ngModel)]="projet" class="form-control">
                    <option *ngFor="let p of projets" [ngValue]="p">{{p.name}}</option>
                </select>
                <label>status</label>
                <select [(ngModel)]="status" class="form-control">
                    <option *ngFor="let s of _status" [ngValue]="s.value">{{s.name}}</option>
                </select>
                status value : {{ status | json}} -->
                <!-- <form>
                    <div class="row">
                        
                    <div class="form-group col-md-3">
                        {{ projet || json}}
                        <label >Projet: </label>
                    <select [(ngModel)]="projet" name="projet" [compareWith]="compareById" class="form-control">
                            <option *ngFor="let p of projets" [ngValue]="p">{{p.name}}</option>
                    </select>
                    </div>
                    <div class="form-group col-md-3">
                        <label >Status: </label>
                        <select [(ngModel)]="status" name="status" class="form-control">
                                <option *ngFor="let s of _status" [ngValue]="s.value">{{s.name}}</option>
                        </select>
                    </div>
                </div>
                <div class="row">                        
                    <div class="form-group col-md-3">  
                            <label >Region: </label>
                        <select [disabled]="user.role == 'superviseurP' || user.role == 'superviseurR'" [(ngModel)]="_region" name="region" class="form-control">
                                <option  *ngIf="user.role == 'superviseurP' || user.role == 'superviseurR'" [ngValue]="user?.perimetre?.region?.id_region" disabled selected>{{user?.perimetre?.region?.name}}</option>
                                <option *ngFor="let r of projet?.perimetre.region" [ngValue]="r.id_region">{{r.name}}</option>
                        </select>
                    </div>

                    <div class="form-group col-md-3">  
                        <label >Province: </label>
                        <select [disabled]="!projet || this.user.role == 'superviseurP'" [(ngModel)]="_province" name="province" class="form-control">
                                <option *ngIf="user.role == 'superviseurP'" [ngValue]="user?.perimetre?.province?.id_province" disabled selected>{{user?.perimetre?.province?.name}}</option>
                                <option [hidden]="p.id_region != _region" *ngFor="let p of projet?.perimetre.province" [ngValue]="p.id_province">{{p.name}}</option>
                        </select>
                    </div>
            </div>

                
            </form>
            <div class="row">
            <div class="col-md-6">
                <button class="btn btn-sm btn-primary m-r-5" (click)="search(projet,status,_region,_province)">Recherche</button>
                <button class="btn btn-sm btn-warning m-r-5" (click)="reset()">Reinitialiser</button>

            </div>
                <div class="col-md-6">
                </div>
            </div> -->
            <div class="row">
                <table id="data-table" class="table table-condensed table-bordered">
                    <thead>
                        <tr>
                            <!-- <th>id</th> -->
                            <th >Enquête</th>
                            <th>Type</th>
                            <th class="sorting_asc">Agent</th>
                            <ng-container *ngIf="projet?.theme == 'rna'">
                                    <th class="sorting" [hidden]="apikey.field.type != 'number'" *ngFor="let apikey of extrapolation">{{apikey.label}}</th>                                    
                            </ng-container>
                            <ng-container *ngIf="projet?.theme !== 'rna'">
                                    <th class="sorting" [hidden]="apikey.field.type != 'number'" *ngFor="let apikey of extrapolation">{{apikey.label}}</th>
                            </ng-container>
                            <th>Date Synchornisation</th>
                            <th ></th>
                        </tr>
                    </thead>
                
                    <tbody>

                        <tr [hidden]="_value != undefined && collecte?.collecte[0]?.data[0].formdata.data[_filtre?.field?.key] != _value" *ngFor="let collecte of collectes">                            <!-- <td>{{collecte._id}}</td> -->
                            <td>{{anass?.name}}</td>
                            <td *ngIf="anass?.theme== 'pillier1'">Pilier I</td>
                            <td *ngIf="anass?.theme == 'pillier2'">Pilier II</td>
                            <td *ngIf="anass?.theme == 'financier'">Projet Financier</td>
                            <td *ngIf="anass?.theme !== 'financier' && anass?.theme !== 'pillier1' && anass?.theme !== 'pillier2'">{{ anass?.theme}}</td>
                            <td>{{collecte.agent?.nom + ' ' + collecte.agent?.prenom}}</td>
                            <td [hidden]="apikey.field.type != 'number'" *ngFor="let apikey of extrapolation">{{ collecte?.collecte[0]?.data[0].formdata.data[apikey?.field.key]}}</td>                                    
                            
                            <td>{{collecte.createdAt}}</td>
                            <td>
                                <button type="button" (click)="consulter(collecte,projet)" class="btn btn-primary btn-xs"><i class="fa fa-eye"></i>  Consulter</button>
                                <!-- <button *ngIf="user.role == 'controlleur'" type="button" (click)="action(collecte._id,'valid')" class="btn btn-primary btn-xs"><i class="fa fa-eye"></i>  validate</button>
                                <button *ngIf="user.role == 'controlleur'" type="button" (click)="action(collecte._id,'reject')" class="btn btn-primary btn-xs"><i class="fa fa-eye"></i>  reject</button> -->
                            </td>
                        </tr>
                        <tr *ngIf="!hide && collectes?.length !== 0"  class="border_bottom">
                            <td style="visibility: hidden"></td>
                            <td style="visibility: hidden"></td>
                            <td><b>Somme</b></td>
                            <td [hidden]="apikey.field.type != 'number'" *ngFor="let apikey of extrapolation">{{getSum(apikey.field.key,_filtre?.field?.key,_value) | number:'1.0-2'}}</td>                           
                            <td style="visibility: hidden"></td>
                        </tr>
                        <tr *ngIf="!hide && collectes?.length !== 0"  class="border_bottom">
                            <td style="visibility: hidden"></td>
                            <td style="visibility: hidden"></td>
                            <td><b>Moyenne</b></td>
                            <td [hidden]="apikey.field.type != 'number'" *ngFor="let apikey of extrapolation">{{getAvg(apikey.field.key,_filtre?.field?.key,_value) | number:'1.0-2'}}</td>                            
                            <td style="visibility: hidden"></td>
                        </tr>
                        <tr *ngIf="!hide && collectes?.length !== 0" class="border_bottom">
                            <td style="visibility: hidden"></td>
                            <td style="visibility: hidden"></td>
                            <td><b>Variance</b></td>
                            <td [hidden]="apikey.field.type != 'number'" *ngFor="let apikey of extrapolation">{{getVar(apikey.field.key,_filtre?.field?.key,_value) | number:'1.0-2'}}</td>                                                        
                            <td style="visibility: hidden"></td>
                        </tr>
                        <tr *ngIf="!hide && collectes?.length !== 0" class="border_bottom">
                            <td style="visibility: hidden"></td>
                            <td style="visibility: hidden"></td>
                            <td><b>Ecart Type</b></td>
                            <td [hidden]="apikey.field.type != 'number'" *ngFor="let apikey of extrapolation">{{getET(apikey.key,_filtre?.field?.key,_value) | number:'1.0-2'}}</td>                                                        
                            <td style="visibility: hidden"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            </div>
    </div>        
</div>