<div class="col-md-12">
    <div class="panel panel-success">
        <div class="panel-body">
                <!-- <ng2-smart-table *ngIf="!loading" [settings]="settings" [source]="collectes"></ng2-smart-table> -->
                <!-- <label> projet</label>
                <select [(ngModel)]="projet" class="form-control">
                    <option *ngFor="let p of projets" [ngValue]="p">{{p.name}}</option>
                </select>
                <label>status</label>
                <select [(ngModel)]="status" class="form-control">
                    <option *ngFor="let s of _status" [ngValue]="s.value">{{s.name}}</option>
                </select>
                status value : {{ status | json}} -->
                <form>
                    <div class="row">
                        
                    <div class="form-group col-md-3">
                        <label >Projet: </label>
                    <select [(ngModel)]="projet"  name="projet" class="form-control">
                            <option *ngFor="let p of projets" [ngValue]="p">{{p.name}}</option>
                    </select>
                    </div>
                    <div class="form-group col-md-3">
                        <label >Status: </label>
                        <select [(ngModel)]="status" name="status" class="form-control">
                                <option *ngFor="let s of _status" [ngValue]="s.value">{{s.name}}</option>
                        </select>
                    </div>
                </div>
                <div class="row">                        
                    <div class="form-group col-md-3">  
                            <label >Region: </label>
                        <select [disabled]="user.role == 'superviseurP' || user.role == 'superviseurR'" [(ngModel)]="_region" name="region" class="form-control">
                                <option  *ngIf="user.role == 'superviseurP' || user.role == 'superviseurR'" [ngValue]="user?.perimetre?.region?.id_region" disabled selected>{{user?.perimetre?.region?.name}}</option>
                                <option *ngFor="let r of projet?.perimetre.region" [ngValue]="r.id_region">{{r.name}}</option>
                        </select>
                    </div>

                    <div class="form-group col-md-3">  
                        <label >Province: </label>
                        <select [disabled]="!projet || this.user.role == 'superviseurP'" [(ngModel)]="_province" name="province" class="form-control">
                                <option *ngIf="user.role == 'superviseurP'" [ngValue]="user?.perimetre?.province?.id_province" disabled selected>{{user?.perimetre?.province?.name}}</option>
                                <option [hidden]="p.id_region != _region" *ngFor="let p of projet?.perimetre.province" [ngValue]="p.id_province">{{p.name}}</option>
                        </select>
                    </div>

                <button class="btn btn-sm btn-primary m-r-5" (click)="search(projet,status,_region,_province)">recheche</button>
            </div>
                
            </form>  
                <table id="data-table" class="table table-striped table-bordered text-center">
                    <thead>
                        <tr>
                            <!-- <th>id</th> -->
                            <th>Enquête</th>
                            <th>Type</th>
                            <th>Agent</th>
                            <th>Date Synchornisation</th>
                        </tr>
                    </thead>
                
                    <tbody>
                        <tr *ngFor="let collecte of collectes">
                            <!-- <td>{{collecte._id}}</td> -->
                            <td>{{projet.name}}</td>
                            <td *ngIf="projet.theme== 'pillier1'">Pilier I</td>
                            <td *ngIf="projet.theme == 'pillier2'">Pilier II</td>
                            <td *ngIf="projet.theme == 'financier'">Projet Financier</td>
                            <td *ngIf="projet.theme !== 'financier' && projet.theme !== 'pillier1' && projet.theme !== 'pillier2'">{{ projet.theme}}</td>                            
                            
                            <td>{{collecte.agent?.nom + ' ' + collecte.agent?.prenom}}</td>
                            <td>{{collecte.createdAt}}</td>
                            <td>
                                <button type="button" (click)="consulter(collecte._id,collecte.projet?.theme,collecte.agent)" class="btn btn-primary btn-xs"><i class="fa fa-eye"></i>  Consulter</button>
                                <button *ngIf="user.role == 'controlleur'" type="button" (click)="action(collecte._id,'valid')" class="btn btn-primary btn-xs"><i class="fa fa-eye"></i>  validate</button>
                                <button *ngIf="user.role == 'controlleur'" type="button" (click)="action(collecte._id,'reject')" class="btn btn-primary btn-xs"><i class="fa fa-eye"></i>  reject</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
    </div>        
</div>