<p-messages [(value)]="msgs"></p-messages>
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-success">
            <div class="panel-body ">
                <!--<div class="row">-->
                <!--<div class="form-group col-md-6">-->
                <!--<label >Collection: </label>-->
                <!--<select [(ngModel)]="collection" name="collection"  class="form-control">-->
                <!--<option *ngFor="let c of collectionList" [ngValue]="c._id">{{c.name}}</option>-->
                <!--</select>-->
                <!--</div>-->
                    <!--<button (click)="getSupport(collection)" class="btn btn-primary">Load data</button>-->
                <!--</div>-->
                <div class="row">
                    <div class="form-group col-md-6">
                        <label>Nom Collection</label>
                        <input type="text" [(ngModel)]="cName" class="form-control" placeholder="Name collection">
                    </div>
                    <div class="form-group">
                        <div class="form-group">
                            <div class="col-md-9">
                                <label class="radio-inline">
                                    <input type="radio" [(ngModel)]="type" name="optionsRadios" value="tabulaire" checked="">
                                    Support Tabulaire
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" [(ngModel)]="type" name="optionsRadios" value="spatial">
                                    Support Spatial
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
                <button [disabled]="(!type || !cName) || check(cName)" class="btn btn-sm btn-primary" (click)="createCollection(cName,type)">Nouvelle Collection</button>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-success">
            <div class="panel-body ">
                <div class="row">
                <div class="form-group col-md-6">
                    <label>Select file</label>
                    <input  type="file" class="form-control" ng2FileSelect [uploader]="uploader" />
                </div>
                <div class="form-group col-md-6">
                    <label >Collection: </label>
                    <select [(ngModel)]="selectedc" name="collection"  class="form-control" (change)="FileSelected(selectedc)">
                        <option *ngFor="let c of collectionList" [ngValue]="c">{{c.name}}</option>
                    </select>
                </div>
                </div>
                <hr />
                <button [disabled]="!canUpload" class="btn btn-sm btn-primary" (click)="upload(selectedc)">upload</button>

            </div>
        </div>
    </div>
</div>
<div class="row">
<div class="col-md-12" >
    <div class="panel panel-success">
        <div class="panel-body ">
            <div class="row">
            <div class="form-group col-md-4">
                <div class="input-group">
                <select [(ngModel)]="collection" name="collection"  class="form-control">
                    <option *ngFor="let c of collectionList" [ngValue]="c._id">{{c.name}}</option>
                </select>
                    <div  class="input-group-btn">
                        <button [disabled]="!collection" (click)="getSupport(collection)" class="btn btn-primary">Load data</button>
                    </div>
                </div>
            </div>
            </div>
            <hr />
            <div *ngIf="show" class="col-md-4"></div>
            <div *ngIf="show" class="col-md-4 "><img src="assets/chargement.gif" alt=""></div>
            <div *ngIf="!loading" class="smart-table-container">
                <ng2-smart-table [settings]="settings" [source]="source"></ng2-smart-table>
            </div>

        </div>
    </div>
</div>
</div>
