<!-- begin login -->
<div class="loginn bg-black animated fadeInDown">
    <!-- begin brand -->
    <div class="loginn-header">
        <div class="brand">
                <span><img src="assets/img/logo_vf.png" width="70" height="61" alt=""></span> <b>Enquêtes Agricoles</b>
        </div>

    </div>
    <!-- end brand -->
    <div class="loginn-content">
            <p-messages [(value)]="msgs"></p-messages>            
        <form (ngSubmit)="f.form.valid && connecte()" #f="ngForm" class="margin-bottom-0" novalidate >
            <div class="form-group m-b-20" [ngClass]="{ 'has-error': f.submitted && !login.valid }">
                <input type="text" class="form-control input-lg inverse-mode no-border" placeholder="Login" name="login" [(ngModel)]="model.login" #login="ngModel" required />
                <div *ngIf="f.submitted && !login.valid" class="help-block">Ce champs est obligatoire</div>
            </div>
            <div class="form-group m-b-20">
                <input type="password" class="form-control input-lg inverse-mode no-border" placeholder="Password" name="password" [(ngModel)]="model.password" #password="ngModel" required />
                <div *ngIf="f.submitted && !password.valid" class="help-block">Ce champs est obligatoire</div>
            </div>
            <!-- <div class="checkbox m-b-20">
                <label>
                    <input type="checkbox" /> Remember Me
                </label>
            </div> -->
            <div class="loginn-buttons">
                <button class="btn btn-success btn-block btn-lg">S'authentifier</button>
            </div>
            <div *ngIf="error" class="alert alert-danger">{{error}}</div>     
        </form>
    </div>
</div>
<!-- end login -->