<div class="row">
    
<div class="panel panel-success">
        <div class="panel-heading">
            <div class="bt-group pull-right">
            </div>
            <h4 class="panel-title">Enquête</h4>
        </div>
<div class="panel-body panel-form">
    <!-- <button (click)="test()">test</button> -->
    <div class="form-horizontal form-bordered">
    <div class="form-group">

    <label class="col-md-4 control-label">Nom :</label>
    <div class="col-md-6">
      <input type="text" id="nom" disabled=disabled placeholder="{{projet.name}}" class="form-control"/>
    </div>
    </div>
    <div class="form-group">
    <label class="col-md-4 control-label">Type :</label>
    <div class="col-md-6">
      <select  disabled=disabled class="form-control">
                  <option>{{projet?.theme}}</option>
      </select>
    </div>
    </div>
    <div class="form-group">
        <label class="col-md-4 control-label">Périmetre :</label>
    <div class="col-md-3">
        <label>Region</label>
        <select  multiple=multiple size=5 class="form-control">
                <option disabled=disabled *ngFor="let region of projet?.perimetre?.region">{{region?.name}}</option>
        </select>
    </div>
    <div class="col-md-3">
            <label>Province:</label>
            <select  multiple=multiple size=5 class="form-control">
                    <option disabled=disabled *ngFor="let province of projet?.perimetre?.province ">{{province?.name }}</option>
            </select>
    </div>
    </div>
<!-- Selected values: {{ projet | json }}        -->
</div>
</div>
</div>
</div>
<div class="row">
    
<div class="panel panel-success">
    <div class="panel-heading">
        <div class="bt-group pull-right">
        </div>
        <h4 class="panel-title">Questionnaires</h4>
    </div>
    <div class="panel-body">
        <table id="data-table" class="table table-striped table-bordered text-center">
            <thead>
                <tr>
                    <!-- <th>id</th> -->
                    <th>Nom</th>
                    <th>Type</th>
                    <th>Géométrie</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let form of projet.forms">
                    <!-- <td>{{ form._id}}</td> -->
                    <td>{{ form.name}}</td>
                    <td>{{ form.theme}}</td>
                    <td>{{ form.geometry}}</td>
                    <td>
                        <button type="button" (click)="opendemo(form.id_fields)" class="btn btn-warning btn-xs"><i class="fa fa-files-o"></i>  Aperçu </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</div>

<p-messages [(value)]="msgs"></p-messages>          
<div class="row">
<div class="col-md-8 panel panel-success">
    <div class="panel-body">
        <div class="smart-table-container">
            <ng2-smart-table *ngIf="!dataload"  [settings]="settings" [source]="affectation" (rowSelect)="clear()" (edit)="event($event)"></ng2-smart-table>
            </div>
    </div>
</div>
<div class="col-md-4">
<div *ngIf="row" class="panel panel-success">
    <div class="panel-body">
        <form>
            <div class="row">
            <div class="form-group col-sm-8">
                <label>Agents :</label>
                <select  [(ngModel)]="_agent" name="_agent" class="form-control">
                    <option [hidden]="affectation[row?.index]?.id_agents?.includes(t._id)" *ngFor="let t of Agents" [ngValue]="t">{{t.prenom}}</option>
                </select>
            </div>
            <div class="form-group col-sm-3">
                <label></label>
            <button class="form-control btn btn-success" (click)="addAgent(_agent)"><i class="fa fa-plus" aria-hidden="true"></i></button>
            </div>                               
        </div>
        </form>

        <table class="table table-condensed">                
            <thead>
            <tr>
            <th>Agents</th>
            <th></th>
        </tr>
        </thead>
            <tbody>
                <tr *ngFor="let agent of affectation[row?.index]?.agents; let i = index" [attr.data-index]="i">
                    <td>{{agent}}</td>
                    <td><a (click)="removeAgent(i)">supprimer</a></td>
                </tr>
        </tbody>
        </table>
    </div>
    </div>
    <div class="panel panel-success">
        <div class="panel-body">
            <button (click)="save()" class="btn btn-primary btn-lg btn-block">
                Enregistrer
            </button>
        </div>
    </div>
</div>
</div>