<p-messages [(value)]="msgs"></p-messages>
<p-confirmDialog header="Confirmation" icon="fa fa-question-circle" width="425"></p-confirmDialog>
<div class="col-md-7">
<div class="panel panel-success" data-sortable-id="form-plugins-4">
          <div class="panel-heading">

        <h4 class="panel-title">Enquête</h4>
        </div>
            <div class="panel-body panel-form">
        <div class="form-horizontal form-bordered">
        <form #f="ngForm" novalidate>
        <div class="form-group">

        <label class="col-md-2 control-label">Nom :</label>
        <div class="col-md-10">
          <input type="text" id="nom" name="nom" #nom="ngModel" class="form-control" required placeholder="" value="" [(ngModel)]="projet.name" />
        </div>
                <div *ngIf="nom.invalid && (nom.dirty || nom.touched)"
                     class="help-block">
                    <p *ngIf="nom.errors.required">
                        Ce champ est obligatoire.
                    </p>
                    <div *ngIf="nom.errors.minlength">
                        Name must be at least 4 characters long.
                    </div>
                </div>
        </div>
        <div class="form-group">
        <label class="col-md-2 control-label">Type :</label>
        <div class="col-md-10">
          <select [(ngModel)]="projet.theme" id="type" name="type" #type="ngModel" required class="form-control" (ngModelChange)="onThemeChange($event)">
                      <option *ngFor="let t of themes" [ngValue]="t.value">{{t.name}}</option>
          </select>
        </div>
            <div *ngIf="type.invalid && (type.dirty || type.touched)"
                 class="help-block">
                <p *ngIf="type.errors.required">
                    Ce champ est obligatoire.
                </p>
            </div>
        </div>
        </form>
        <div class="form-group">
            <label class="col-md-2 control-label">Region :</label>
        <div class="col-md-10">
            <!--<select2 [data]="regionsData" -->
            <!--[options]="options"-->
            <!--[width]="240"            -->
            <!--(valueChanged)="onRegionChange($event)"-->
            <!--&gt;</select2>-->
            <angular2-multiselect [data]="list_regions" [(ngModel)]="projet.regions" [settings]="RegionSettings" (onSelect)="onRegionSelect($event)" (onSelectAll)="onRegionSelect($event)" (onDeSelect)="onRegionSelect($event)"></angular2-multiselect>
        </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Province :</label>
        <div class="col-md-10">
            <!--<select2 [data]="exampleData"-->
            <!--[options]="options"-->
            <!--[width]="240"-->
            <!--(valueChanged)="onProvinceChange($event)"-->
            <!--&gt;</select2>-->
            <angular2-multiselect [data]="list_provinces" [(ngModel)]="projet.provinces" [settings]="ProvinceSettings" (onSelect)="onItemSelect($event)" (onDeSelect)="OnItemDeSelect($event)"></angular2-multiselect>
        </div>
        </div>
    <!--Selected values: {{ projet | json }}        -->
    </div>
</div>
</div>
</div>
<div class="col-md-5">
    <div class="panel panel-success">
        <div class="panel-heading">
            <h4 class="panel-title">Validation</h4>
        </div>
      <div class="panel-body">
        <div class="form-horizontal form-bordered">
            <div class="form-group">
                <label class="col-md-3 control-label">Name :</label>
                <div class="col-md-9">
                        {{ error }}                        
                    <input [(ngModel)]="_name" type="text" class="form-control" />
                </div>
                <label class="col-md-3 control-label">Agent :</label>
                <div class="col-md-9">
                    <select [(ngModel)]="_agent" class="form-control">
                        <option [hidden]="agentExists(t.id)" *ngFor="let t of controllers" [ngValue]="t.id">{{t.name}}</option>
                    </select>
                </div>
            </div>
            <div>
            <button (click)="addLevel(_name,_agent)" class="btn btn-primary btn-sm m-r-5">ajouter</button>
        </div>
        </div>
        <div class="smart-table-container">
        <table class="table table-condensed">                
            <thead>
                <tr>
            <th>#</th>
            <th>Name</th>
            <th>Agent</th>
        </tr>
            </thead>
            <tbody>
                <tr *ngFor="let level of projet.validation; let i = index" [attr.data-index]="i">
                    <td>{{ i + 1}}</td>
                    <td>{{level.name}}</td>
                    <td>{{level.agent}}</td>
                    <td><a (click)="removeLevel(i)">supprimer</a></td>
                </tr>
            </tbody>
        </table>
      </div>
    </div>
    </div>
</div>

<div class="col-md-12">
<div class="panel panel-success" data-sortable-id="form-stuff-1">
            <div class="panel-heading">
                <h4 class="panel-title">Questionnaires</h4>
            </div>
            <div class="panel-body">
                    <div class="col-sm-12">

                <div class="row">
                <div class="col-md-4 form-group subject-info-box-1">
                        <label >Questionnaires Disponnibles :</label>

                        <select  [(ngModel)]="forms" size="7" id='forms' class="form-control">
                            <option [disabled]="(a.geometry !== 'none' && disabled.includes('none')) || (disabled.includes(a.geometry) && a.geometry !== 'none')  || (disabled.length !== 0 && disabled.includes('none') === false && a.geometry === 'none' )"
                            *ngFor="let a of forms_disponnible" [ngValue]="a">{{ a.name }} - [{{ a.geometry }}]</option>
                        </select>
                    </div>
                    <div class="col-md-4 subject-info-arrows text-center">
                        <label  id ="label">Option</label>
                        <input type="button" id="btnAdd" value=">" (click)="move(forms,forms_disponnible,forms_selected)" class="btn btn-primary" /><br />
                        <input type="button" id="btnRemove" value="<" (click)="removeitem(selected,forms_selected,forms_disponnible)" class="btn btn-primary" /><br />
                    </div>
                    <div class="col-md-4 form-group subject-info-box-2">
                        <label >Questionnaires Sélectionnés :</label>
                        <select [(ngModel)]="selected" size="7" id='selected' class="form-control">
                            <option *ngFor="let s of forms_selected" [ngValue]="s">{{ s.name }}</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4"></div>
                <div class="col-md-4 text-center">
                <button  (click)="createProjet()" [disabled]="!f.valid" id="saveProject" type="button" class="btn btn-primary btn-block">Enregistrer</button>
                </div>
                <div class="col-md-4">
                        <button (click)="clearProjet()" type="button" class="btn btn-danger btn-block">Réinitialiser</button>
                </div>
                </div>
            </div>
</div>
</div>
<div class="col-md-12">
    <div class="panel panel-success" data-sortable-id="form-stuff-1">
                <div class="panel-heading">
                    <h4 class="panel-title">Keys</h4>
                </div>
                <div class="panel-body">
                        <div class="col-sm-12">
                            
                    <div class="row">
                    <div class="col-md-4 form-group subject-info-box-1">
                            <label >KEy Disponnibles :</label>
                             {{_field | json}}
                            <select  size="7" [(ngModel)]="_field" class="form-control">
                                <optgroup *ngFor="let item of extrapolation;let i = index"  label=+{{item.label}}>
                                <option *ngFor="let s of item.fields;let f = index" [ngValue]="i +'|' +f">-{{ s.key }} {{f}}</option>
                                </optgroup> 
                            </select>
                        </div>
                        <div class="col-md-4 subject-info-arrows text-center">
                            <label  id ="label">Option</label>
                            <input type="button" id="btnAdd" value=">" (click)="movefield(_field,extrapolation,selected_fields)" class="btn btn-primary" /><br />
                            <input type="button" id="btnRemove" value="<" (click)="movefield(selected,forms_selected,forms_disponnible)" class="btn btn-primary" /><br />
                        </div>
                        <div class="col-md-4 form-group subject-info-box-2">
                            <label >KEy Sélectionnés :</label>
                            <select [(ngModel)]="_selected" size="7" id='selected' class="form-control">
                                <option *ngFor="let item of selected_fields" [ngValue]="item">{{item.key}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4"></div>
                    <div class="col-md-4 text-center">
                    <button  (click)="createProjet()" [disabled]="!f.valid" id="saveProject" type="button" class="btn btn-primary btn-block">Enregistrer</button>
                    </div>
                    <div class="col-md-4">
                            <button (click)="clearProjet()" type="button" class="btn btn-danger btn-block">Réinitialiser</button>
                    </div>
                    </div>
                </div>
    </div>
    </div>