<p-messages [(value)]="msgs"></p-messages>
<p-confirmDialog header="Confirmation" icon="fa fa-question-circle" width="425"></p-confirmDialog>
<div class="col-md-7">
<div class="panel panel-success" data-sortable-id="form-plugins-4">
          <div class="panel-heading">

        <h4 class="panel-title">Enquête</h4>
        </div>
            <div class="panel-body panel-form">
        <div class="form-horizontal form-bordered">
        <form #f="ngForm" novalidate>
        <div class="form-group">

        <label class="col-md-2 control-label">Nom :</label>
        <div class="col-md-10">
          <input type="text" id="nom" name="nom" #nom="ngModel" class="form-control" required placeholder="" value="" [(ngModel)]="projet.name" />
        </div>
                <div *ngIf="nom.invalid && (nom.dirty || nom.touched)"
                     class="help-block">
                    <p *ngIf="nom.errors.required">
                        Ce champ est obligatoire.
                    </p>
                    <div *ngIf="nom.errors.minlength">
                        Name must be at least 4 characters long.
                    </div>
                </div>
        </div>
        <div class="form-group">
        <label class="col-md-2 control-label">Type :</label>
        <div class="col-md-10">
          <select [(ngModel)]="projet.theme" id="type" name="type" #type="ngModel" required class="form-control" (ngModelChange)="onThemeChange($event)">
                      <option *ngFor="let t of themes" [ngValue]="t.value">{{t.name}}</option>
          </select>
        </div>
            <div *ngIf="type.invalid && (type.dirty || type.touched)"
                 class="help-block">
                <p *ngIf="type.errors.required">
                    Ce champ est obligatoire.
                </p>
            </div>
        </div>
        </form>
        <div class="form-group">
            <label class="col-md-2 control-label">Region :</label>
        <div class="col-md-10">
            <!--<select2 [data]="regionsData" -->
            <!--[options]="options"-->
            <!--[width]="240"            -->
            <!--(valueChanged)="onRegionChange($event)"-->
            <!--&gt;</select2>-->
            <angular2-multiselect [data]="list_regions" [(ngModel)]="projet.regions" [settings]="RegionSettings" (onSelect)="OnRegionChange($event)" (onSelectAll)="OnRegionChange($event)" (onDeSelect)="OnRegionDeselect($event)" (onDeSelectAll)="OnRegionDeselect($event)"></angular2-multiselect>
        </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Province :</label>
        <div class="col-md-10">
            <!--<select2 [data]="exampleData"-->
            <!--[options]="options"-->
            <!--[width]="240"-->
            <!--(valueChanged)="onProvinceChange($event)"-->
            <!--&gt;</select2>-->
            <angular2-multiselect [data]="_listprovinces" [(ngModel)]="projet.provinces" [settings]="ProvinceSettings" (onSelect)="onItemSelect($event)" (onDeSelect)="OnItemDeSelect($event)"></angular2-multiselect>
        </div>
        </div>
    <!--Selected values: {{ projet | json }}        -->
    </div>


</div>
</div>
</div>
<div class="col-md-5">
    <div class="panel panel-success">
        <div class="panel-heading">
            <h4 class="panel-title">Validation</h4>
        </div>
      <div class="panel-body">
        <div class="form-horizontal form-bordered">
            <div class="form-group">
                <label class="col-md-3 control-label">Alias :</label>
                <div class="col-md-9">
                        {{ error }}                        
                    <input [(ngModel)]="_name" type="text" class="form-control" />
                </div>
                <label class="col-md-3 control-label">Agent :</label>
                <div class="col-md-9">
                    <select [(ngModel)]="_agent" class="form-control">
                        <option [hidden]="agentExists(t.id)" *ngFor="let t of controllers" [ngValue]="t.id">{{t.name}}</option>
                    </select>
                </div>
            </div>
            <div>
            <button *ngIf="updatinglevel == null" (click)="addLevel(_name,_agent)" class="btn btn-primary btn-sm m-r-5">Ajouter</button>
            <button type="submit" *ngIf="updatinglevel != null"  (click)="updateLevel(_name,_agent)" class="btn btn-sm btn-primary m-r-5">Valider</button>
            <button type="submit" *ngIf="updatinglevel != null" (click)="cancel(false)" class="btn btn-sm btn-primary m-r-5">Annuler</button>
        </div>
        </div>
        <div class="smart-table-container">
        <table class="table table-condensed">                
            <thead>
                <tr>
            <th>Niveau</th>
            <th>Alias</th>
            <th>Agent</th>
        </tr>
            </thead>
            <tbody>
                <tr *ngFor="let level of projet.validation; let i = index" [attr.data-index]="i">
                    <td>{{ i + 1}}</td>
                    <td>{{level.alias}}</td>
                    <td>{{level.name}}</td>
                    <td><a (click)="removeLevel(i)">Supprimer</a> <a (click)="setLevel(i)">Modifier</a></td>
                </tr>
            </tbody>
        </table>
      </div>
    </div>
    </div>
</div>

<div class="col-md-12">
<div class="panel panel-success" data-sortable-id="form-stuff-1">
            <div class="panel-heading">
                <h4 class="panel-title">Questionnaires</h4>
            </div>
            <div class="panel-body">
                    <div class="col-sm-12">

                <div class="row">
                <div class="col-md-4 form-group subject-info-box-1">
                        <label >Questionnaires Disponnibles :</label>

                        <select  [(ngModel)]="forms" size="7" id='forms' class="form-control">
                            <option [hidden]="a.id_fields == undefined" [disabled]="(a.geometry !== 'none' && disabled.includes('none')) || (disabled.includes(a.geometry) && a.geometry !== 'none')  || (disabled.length !== 0 && disabled.includes('none') === false && a.geometry === 'none' )"
                            *ngFor="let a of forms_disponnible" [ngValue]="a">{{ a.name }} - [{{ a.geometry }}]</option>
                        </select>
                    </div>
                    <div class="col-md-4 subject-info-arrows text-center">
                        <label  id ="label">Option</label>
                        <input type="button" id="btnAdd" value=">" (click)="move(forms,forms_disponnible,forms_selected)" class="btn btn-primary" /><br />
                        <input type="button" id="btnRemove" value="<" (click)="removeitem(selected,forms_selected,forms_disponnible)" class="btn btn-primary" /><br />
                    </div>
                    <div class="col-md-4 form-group subject-info-box-2">
                        <label >Questionnaires Sélectionnés :</label>
                        <select [(ngModel)]="selected" size="7" id='selected' class="form-control">
                            <option *ngFor="let s of forms_selected" [ngValue]="s">{{ s.name }}</option>
                        </select>
                    </div>
                </div>
                </div>
            </div>
</div>
</div>
<div class="col-md-12">
    <div class="panel panel-success">
                <div class="panel-heading">
                    <h4 class="panel-title">Champs d'extrapolation</h4>
                </div>
                <div class="panel-body">
                        <form class="form-inline" >
                                <div class="form-group m-r-10">
                                        <select [disabled]="forms_selected.length == 0" [(ngModel)]="formulaire" name="formulaire" class="form-control" width="150px" (ngModelChange)="onFormSelect($event)">
                                                <option  *ngFor="let s of forms_selected;let f = index" [ngValue]="s">{{ s.name }}</option>
                                        </select>                            
                                </div>
                                <div class="form-group m-r-10">
                                        <select [disabled]="forms_selected.length == 0" [(ngModel)]="fieldtype" name="fieldtype" class="form-control" width="150px">
                                                <option value="select" >Champs de filtres</option>
                                                <option value="number" >Champs numérique</option>

                                        </select>                            
                                </div>
                            <div class="form-group m-r-10">
                                    <select [disabled]="extrapolation.length == 0" [(ngModel)]="apiKey" name="apiKey" class="form-control" width="150px">
                                                    <option [hidden]="contains('field',s.key) || s.type !== fieldtype " *ngFor="let s of extrapolation;let f = index" [ngValue]="s.key">{{ s.key }}</option>
                                    </select>                            
                            </div>
                            <div class="form-group m-r-10">
                                <input [disabled]="extrapolation.length == 0" [(ngModel)]="label" name="label" type="text" class="form-control" id="exampleInputPassword2" placeholder="Variable">
                            </div>
                            <button type="submit" *ngIf="updating == null" (click)="add(apiKey,label,formulaire)" class="btn btn-sm btn-primary m-r-5"><i class="fa fa-plus" aria-hidden="true"></i></button>
                            <button type="submit" *ngIf="updating != null"  (click)="set(apiKey,label,formulaire)" class="btn btn-sm btn-primary m-r-5">Valider</button>
                            <button type="submit" *ngIf="updating != null" (click)="cancel(true)" class="btn btn-sm btn-primary m-r-5">Annuler</button>



                        </form>
                    <br>
                        <table class="table table-hover table-bordered">
                                <thead>
                                <tr>
                                <th>Key</th>
                                <th>Variable</th>
                                <th></th>
                            </tr>
                            </thead>
                                <tbody>
                                    <tr *ngFor="let item of table;let i = index">
                                        <td>{{item?.field?.key}}</td>
                                        <td>{{item?.label}}</td>
                                        <td><a (click)="remove(i)">Supprimer</a> <a (click)="update(i)">Modifier</a></td>
                                    </tr>
                            </tbody>
                        </table>
                        <div class="col-md-4"></div>
                        <div class="col-md-4 text-center">
                        <button  (click)="createProjet()" [disabled]="!f.valid" id="saveProject" type="button" class="btn btn-primary btn-block">Enregistrer</button>
                        </div>
                        <div class="col-md-4">
                                <button (click)="clearProjet()" type="button" class="btn btn-danger btn-block">Réinitialiser</button>
                        </div>
                </div>

    </div>
</div>